@media (max-width: 1440px) and (min-width: 1300px){
	.tp{
		position: unset;
		width:100.5%;
	}
	h2{
		width:75%;
		margin-left: 170px;
	}
	.resp{
		width:76.6%;
		margin-left: 170px;
	}
	#p1,#pp1, #pp2, #pp3, #pp4, #pp5, #pp6{
		margin-left: 170px;
		width:78%;
	}
	.ft{
		width:94.5%;
	}
}
@media (max-width: 1300px) and (min-width: 1056px){
	.tp{
		position: unset;
		width:100.55%;
	}
	h2{
		width:75%;
		margin-left: 140px;
	}
	.resp{
		width:76.6%;
		margin-left: 140px;
	}
	#p1,#pp1, #pp2, #pp3, #pp4, #pp5, #pp6{
		margin-left: 140px;
		width:78%;
	}
	.ft{
		width:95.2%;
	}
}
@media (max-width: 1056px) and (min-width: 760px){
	.tp{
		position: unset;
		width:101.4%;
	}
	h2{
		width:75%;
		margin-left:110px;
	}
	.resp{
		width:77.3%;
		margin-left: 110px;
	}
	#p1,#pp1, #pp2, #pp3, #pp4, #pp5, #pp6{
		margin-left: 110px;
		width:78%;
	}
	.ft{
		width:93.8%;
	}
	.ej{
		margin-left:11%;
	}
	.f1{
		margin-left:0%;
	}
}
@media (max-width: 760px) and (min-width: 540px){
	.tp{
		position: unset;
		width:105.9%;
		margin-left: -1.7%;
	}
	h2{
		width:74.5%;
		margin-left: 83px;
		margin-top:-4px;
	}
	.resp{
		width:77.6%;
		margin-left: 83px;
	}
	#p1,#pp1, #pp2, #pp3, #pp4, #pp5, #pp6{
		margin-left: 83px;
		width:78%;
	}
	.ft{
		width:92.8%;
	}
	.ej{
		display: none;
	}
}
@media (max-width: 540px) and (min-width: 411px){
	.tp{
		position: unset;
		width:100.5%;
		margin-top: -2%;
		margin-left: -1.7%;
	}
	h2{
		width:73%;
		margin-left: 50px;
		margin-top:-4px;
	}
	.resp{
		width:77.3%;
		margin-left: 50px;
	}
	#p1,#pp1, #pp2, #pp3, #pp4, #pp5, #pp6{
		margin-left: 50px;
		width:78%;
	}
	.ft{
		width:83.2%;
	}
	.ej{
		display: none;
	}
}
@media (max-width: 411px) and (min-width: 280px){
	.tp{
		position: unset;
		width:111.5%;
		margin-top: -2%;
		margin-left: -2.7%;
	}
	h2{
		width:72%;
		margin-left: 55px;
		margin-top:-4px;
	}
	.resp{
		width:77.3%;
		margin-left: 55px;
	}
	#p1,#pp1, #pp2, #pp3, #pp4, #pp5, #pp6{
		margin-left: 55px;
		width:78%;
	}
	.ft{
		width:96.2%;
	}
	.ej{
		display: none;
	}
}
