@media (max-width: 1440px) and (min-width: 1300px){
.heading{
		position: unset;
		width:100.5%;
	}
	h2{
		width:75%;
		margin-left: 170px;
	}
	#resp{
		width:76.6%;
		margin-left: 170px;
	}
	.ans,.p1{
		margin-left: 170px;
		width:78%;
	}
	.alignments{
		margin-left: 15%;
	}
	.ft{
		width:94.5%;
	}
}
@media (max-width: 1300px) and (min-width: 1056px){
.heading{
		position: unset;
		width:100.55%;
	}
	h2{
		width:75%;
		margin-left: 140px;
	}
	#resp{
		width:76.6%;
		margin-left: 140px;
	}
	.ans,.p1{
		margin-left: 140px;
		width:78%;
	}
	.ft{
		width:95.2%;
	}
	.alignments{
		margin-left: 15%;
	}
/*	#resp{
		max-width: 800px;
	}*/
}
@media (max-width: 1056px) and (min-width: 760px){
.heading{
		position: unset;
		width:101.4%;
	}
	h2{
		width:75%;
		margin-left:110px;
	}
	#resp{
		width:77.3%;
		margin-left: 110px;
	}
	.ans,.p1{
		margin-left: 110px;
		width:78%;
	}
	.ft{
		width:93.8%;
	}
	.alignments{
		margin-left: 11%;
	}
}
@media (max-width: 760px) and (min-width: 540px){
	/*.tp{
		margin-top: -2%;
		width: 106%;
		margin-left: -2%;
	}
	h2{
		margin-left: 70px;
    	margin-right: 35px;
	}
	#resp{
		width: 80%;
		margin-left: 70px;
    	margin-top: 60px;
	}
	#p1,#pp1, #pp2, #pp3, #pp4, #pp5, #pp6{

		margin-left: 70px;
		margin-right: 35px;
		width:80%;
	}*/
.heading{
		position: unset;
		width:105.9%;
		margin-left: -1.7%;
	}
	h2{
		width:74.5%;
		margin-left: 83px;
	}
	#resp{
		width:77.6%;
		margin-left: 83px;
	}
	.ans,.p1{
		margin-left: 83px;
		width:78%;
	}
	.ft{
		width:92.8%;
	}
	.alignments{
		display: none;
	}
}
@media (max-width: 540px) and (min-width: 411px){
.heading{
		position: unset;
		width:100.5%;
		margin-top: -2%;
		margin-left: -1.7%;
	}
	h2{
		width:73%;
		margin-left: 75px;
	}
	#resp{
		width:77.3%;
		margin-left: 75px;
	}
	.ans,.p1{
		margin-left: 75px;
		width:78%;
	}
	.ft{
		width:83.2%;
	}
	.alignments{
		display: none;
	}
}
@media (max-width: 411px) and (min-width: 280px){
.heading{
		position: unset;
		width:111.5%;
		margin-top: -2%;
		margin-left: -2.7%;
	}
	h2{
		width:72%;
		margin-left: 35px;
	}
	#resp{
		width:77.3%;
		margin-left: 35px;
	}
	.ans,.p1{
		margin-left: 35px;
		width:78%;
	}
	.ft{
		width:96.2%;
	}
	.alignments{
		display: none;
	}
}